<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- Define properties for log file locations -->
  <property name="APP_NAME" value="WebPageManagementSystem" />
  <property name="HOSTNAME" value="localhost" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg traceId=%X{traceId} spanId=%X{spanId}%n</pattern>
    </encoder>
  </appender>

  <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
    <!-- (1) -->
    <http>
      <url>http://localhost:3100/loki/api/v1/push</url>
    </http>
    <format>
      <!-- (2) -->
      <label>
        <pattern>app=${APP_NAME},host=${HOSTNAME},level=%level</pattern>
        <!-- (3) -->
        <readMarkers>true</readMarkers>
      </label>
      <message>
        <!-- (4) -->
        <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg traceId=%X{traceId} spanId=%X{spanId}%n</pattern>
      </message>
    </format>
  </appender>

  <!-- Root logger configuration -->
  <root level="INFO">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="LOKI"/>
  </root>


</configuration>